<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>329633930106-pb32m386e0i9tauc8gd1i178r5mqmhe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329633930106-pb32m386e0i9tauc8gd1i178r5mqmhe6</string>
	<key>API_KEY</key>
	<string>AIzaSyAcEdPxjPAdukvbZS95kIMK4EJXLIf_0i4</string>
	<key>GCM_SENDER_ID</key>
	<string>329633930106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geeksdobyte.AnimeFreakzv2</string>
	<key>PROJECT_ID</key>
	<string>animefreakzv2</string>
	<key>STORAGE_BUCKET</key>
	<string>animefreakzv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329633930106:ios:fc41e6d0a2f1032b</string>
	<key>DATABASE_URL</key>
	<string>https://animefreakzv2.firebaseio.com</string>
</dict>
</plist>